<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Results Page</title>

		<link rel="stylesheet" href="/css/searchResults.css">
	</head>
	<body>
		<h1>Results Page</h1>

		<!-- formatted string from geoapify api response object -->
		<p><%= `${firstResult.address_line1}` %></p>

		<div>
			<p>Temperature:<%= `${currentWeatherData.properties.temperature.value}` %></p>
			<p>Wind Direction:<%= `${currentWeatherData.properties.windDirection.value}` %></p>
			<p>Wind Speed:<%= `${currentWeatherData.properties.windSpeed.value}` %></p>
		</div>

		<h4>5 Day Forecast</h4>

		<div>
			<p><%= forecastData.properties.periods[0].name %></p>
			<p><%= forecastData.properties.periods[0].shortForecast %></p>

			<div>
				<img src="images/weather/cloudy-day-1.svg" alt="ICON">
			</div>

			
			<p>Temperature <%= forecastData.properties.periods[0].temperature %>&#176 F</p>
			<p><%= forecastData.properties.periods[0].name %></p>

			<% if (forecastData.properties.periods[0].probabilityOfPrecipitation.value === null) {%>
				<p>Chance of Precipitation: 0%</p>
				<% } else { %>
					<p>Chance of Rain: <%= forecastData.properties.periods[0].probabilityOfPrecipitation.value %>%</p>
					<% } %>


			<p>Wind: <%= `${forecastData.properties.periods[0].windSpeed} ${forecastData.properties.periods[0].windDirection}` %></p>
			<p><%= forecastData.properties.periods[0].detailedForecast %></p>


			
		</div>
		<div></div>
		<div>-</div>
		<div>-</div>
		<div>-</div>
		<div>-</div>
		<h3>CURRENT WEATHER CONDITIONS</h3>

		

		<!-- If the National Weather Service doesn't have a textDescription value for the current weather condition, then use the OpenWeather API description -->
		<% if (currentWeatherData.properties.textDescription === "") {%>
			<p><%= currentWeatherConditionsData.weather[0].main
 %></p>
			<% } else { %>
			 <p><%= currentWeatherData.properties.textDescription %></p>
			 <% } %>

		<p>Current Temp: <%= Math.round(currentWeatherConditionsData.main.temp) %>&#176 F</p>
		<p>Feels Like: <%= Math.round(currentWeatherConditionsData.main.feels_like) %>&#176 F</p>
		<p>Wind: <%= Math.round(currentWeatherConditionsData.wind.speed) %>mph</p>
		<p>Humidity: <%= currentWeatherConditionsData.main.humidity %>%</p>


		<div>
			<img src="<%= weatherConditions[currentWeatherConditionsData.weather[0].icon] %>" alt="Weather Condition">
		</div>

		<h1>MULTI DAY FORECAST</h1>
		<% const multidayForecast = forecastData.properties.periods%>
			
		<!-- for loop to only get the 5-day forecast and not 7 day -->
		<!-- to get the full 7-day: index < multidayForecast.length; instead of 11-->
		<% for( let index = 0; index < 11; index++ ) { %>
			<div id="weather-period-container" class="item5-child<%= index+1 %>">
				<p><%= forecastData.properties.periods[index].name %></p>
				<p><%= forecastData.properties.periods[index].detailedForecast %></p>
				<p>Temperature <%= forecastData.properties.periods[0].temperature %>&#176 F</p>

				<% if (forecastData.properties.periods[index].probabilityOfPrecipitation.value === null) {%>
					<p>Chance of Precipitation: 0%</p>
				<% } else { %>
					<p>Chance of Rain: <%= forecastData.properties.periods[index].probabilityOfPrecipitation.value %>%</p>
				<% } %>
			
		<% } %>
	</body>
</html>
